<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polen-Online Mobile Store</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/user.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i class="glyphicon glyphicon-phone"></i>Junglee</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li role="presentation"><a href="/about">About us</a></li>
                    <li role="presentation"><a href="/signin">Login</a></li>
                </ul>
            </div
        </div>
    </nav>
   <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>junglee</h1>
                    <p class="text-success">The World's Largest Online Mobile Shop. </p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="/products/allproduct/apple"><i class="fa fa-apple"></i> Shop Now</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> Check Your Product Delivary Status</a></p>
                </div>
            </div>
        </div>
    </div>
    
      <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <section class="testimonials">
        <h2 class="text-center"><b>Junglee - The World's Largest Online Mobile Shop ! Powered By P-OMS</b></h2>
        
    </section>
            </div>
           
<div class="col-md-10 col-md-offset-1">
                

                 <div class="gallery">
                   <a href="/products/allproduct/apple"><img src="https://9to5mac.files.wordpress.com/2017/11/iphone-x-control-center.jpg?quality=82&strip=all&strip=all" width="500" height="300" ></a>
                  <div class="desc">
                  <h5> </h5>
                   <h6>Shop Now</h6>
                   
                  
                  </div>
                  </div>
                  
                    <div class="gallery">
                   <a href="/products/allproduct/samsung"><img src="https://cdn.wccftech.com/wp-content/uploads/2017/09/galaxy-s8-custom-rom.jpg" width="500" height="300" ></a>
                  <div class="desc">
                  <h5> </h5>
                   <h6>Shop Now</h6>
                  
                  </div>
                  </div>
                    <div class="gallery">
                   <a href="/products/allproduct/oneplus"><img src="https://boygeniusreport.files.wordpress.com/2017/02/oneplus-4-concept-dbs-designing-01.jpg?quality=98&strip=all" width="500" height="300" ></a>
                  <div class="desc">
                  <h5> </h5>
                   <h6>Shop Now</h6>
                  
                  </div>
                  </div>
                    <div class="gallery">
                   <a href="/products/allproduct/mi"><img src="http://www.igyaan.in/wp-content/uploads/2016/01/Mi-5-01.jpeg" width="500" height="300" ></a>
                  <div class="desc">
                  <h5> </h5>
                   <h6>Shop Now</h6>
                  
                  </div>
                  </div>
                
            </div>
        </div>
    
    
    
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>junglee</h2>
                    <p>The World's Biggest Online Mobile Shop.<br><br>
                    Shopping On junglee.com<br>
                    <br>
        
                    Here At junglee.com  We Understand Smartphone, We Understand Our Customers And<br>
                    We Know What You Want. Our Young And Dynamic Team Of P-OMS Is Committed To<br>
                    Providing The Latest Handsets On The Best Price Plans So That Everyone Can Love<br>
                    Their Smartphones As Much As We Love Ours!<br></p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                            <p>24/7 Online </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Saves You Money</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                            <p>Secured</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Copyright © 2017 P-OMS. All Rights Reserved</h5></div>
                <div class="col-sm-6 social-icons"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/polenErshan1"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polen_ershan/"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>